mixin icon(obj, elemCount)
  .unit(class= obj.unitClass data-wow-delay= obj.wowDelay)

    .unit__left
      span(class= obj.classIcon)

    .unit__body
      .box-icon-content
        div(class= obj.titleClass)= obj.title
        if(obj.content)
          p(class= obj.classText)= obj.content

        else
          block