//- post classic

mixin post(obj)

  .post(class= obj.postClass)
    .post-header
      time(datetime=obj.numberDate)=obj.postDate
      h6: a(href="#")= obj.postTitle

    .post-img
      a(href="#"): +jpg(obj.postImg)

    .post-content
      if(obj.arrowModern)
        p= obj.postContent
          a(href="#" class= obj.arrowModern).post-link.icon-arrow.material-icons-keyboard_backspace

      else if (obj.arrowCreative)
        p= obj.postContent
        a(href="#").post-link Read more
          span.icon-arrow.material-icons-keyboard_backspace(class= obj.arrowCreative)