//
   Created by ragnar on 8/22/2018.
// Swiper Navigation
.swiper-button-prev
  include _arrow-left

.wrap-counter
  // Swiper Pagination
  .swiper-pagination
  .divider-counter /
  .total-counter 03

// Swiper Navigation
.swiper-button-next
  include _arrow-left
