-
	var config = {
		brandName: 'Real Grass',
		logoDefault: 'logo-default-228x39',
		logoWhite: 'logo-white-130x130',
		logoGray: 'logo-var2-175x41',
		logoGray2: 'logo-var3-227x40',
		primary: '#72af30'
	},

	menu = [
		{ title: 'Home' },
		{ title: 'About' },
		{ title: 'Testimonials'	},
		{ title: 'Careers'	},
		{ title: 'Team'	},
		{ title: 'Services'	},
		{ title: 'Gallery'	},
		{ title: 'Blog'	},
		{ title: 'Contacts'	}
	]