// RD Navbar Nav
ul.rd-navbar-nav
	li(class=(activeIndex == 1 ? 'active' : ''))
		a(href='./') Home
	li(class=(activeIndex == 2 ? 'active' : ''))
		a(href='about.html') About
		// RD Navbar Dropdown
		ul.rd-navbar-dropdown
			li
				a(href='#') Link
			li
				a(href='#') Link
				ul.rd-navbar-dropdown
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
			li
				a(href='#') Link
	li(class=(activeIndex == 3 ? 'active' : ''))
		a(href='#') Link
		// RD Navbar Megamenu
		ul.rd-navbar-megamenu
			li
				ul
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
			li
				ul
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
			li
				ul
					li
						a(href='header-sidebar.html') Header sidebar
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Link
			li
				ul
					li
						a(href='typography.html') Typography
					li
						a(href='tabs-and-accordions.html') Tabs and accordions
					li
						a(href='progress-bars.html') Progress Bars
					li
						a(href='forms.html') Forms
					li
						a(href='tables.html') Tables
					li
						a(href='grid.html') Grid
					li
						a(href='buttons.html') Buttons

	li(class=(activeIndex == 4 ? 'active' : ''))
		a(href='#') Link
	li(class=(activeIndex == 5 ? 'active' : ''))
		a(href='contacts.html') Contacts