//
   Created by ragnar on 8/31/2018.
// Counters
.cell-xs-6
  .box-counter.box-counter-creative.box-counter-primary
    .counter(data-speed='1000') 987
    p.box-counter-title Residential projects

.cell-xs-6
  .box-counter.box-counter-creative.box-counter-primary
    .counter(data-speed='1000') 15
    p.box-counter-title Years in business

.cell-xs-6
  .box-counter.box-counter-creative.box-counter-primary
    .counter(data-speed='1000') 632
    p.box-counter-title Commercial objects
.cell-xs-6
  .box-counter.box-counter-creative.box-counter-primary
    .counter(data-speed='1000') 374
    p.box-counter-title Acres maintained