.shell
	.range.range-30.range-sm-50.range-center
		// Counters
		.cell-xs-6.cell-md-5.cell-lg-3
			.box-counter.box-counter-classic
				.counter(data-speed='1000') 987
				p.box-counter-title Residential projects

		.cell-xs-6.cell-md-5.cell-lg-3
			.box-counter.box-counter-classic
				.counter(data-speed='1000') 15
				p.box-counter-title Years in business

		.cell-xs-6.cell-md-5.cell-lg-3
			.box-counter.box-counter-classic
				.counter(data-speed='1000') 632
				p.box-counter-title Commercial objects
		.cell-xs-6.cell-md-5.cell-lg-3
			.box-counter.box-counter-classic
				.counter(data-speed='1000') 374
				p.box-counter-title Acres maintained