footer.page-footer.footer-modern.bg-gray-dark
  .footer-modern-inset
    .shell
      .range.range-50.range-center
        .cell-md-4.wow.fadeInUp(data-wow-delay=".1s")
          h3 About us
          p We are here to offer you professional services with your lawn and your overgrown garden. No matter your gardening requirements, rest assured you can call us anytime of the year. Available all week round, we can come to you whenever you need us providing quality gardening services that will have you ready for the oncoming season.

        .cell-md-4.cell-sm-6.wow.fadeInUp(data-wow-delay=".2s")
          h3 Contact us

          address.contact-info
            ul.list-address
              li
                a.text-middle.address(href='contacts.html') 227 Marion Street, Columbia, SC 29201
                p Email:
                  =' '
                  a(href='mailto:#').mail mail@demolink.org

              li.list-tel
                .tel.big
                  a.text-middle(href='tel:#')
                    | 1
                    =' '
                    span (800)
                    =' '
                    | 123 1234

                .tel.big
                  a.text-middle(href='tel:#')
                    | 1
                    =' '
                    span (800)
                    =' '
                    | 123 1235

              li
                .p Mon - Sat 8.00 - 18.00
                .p Sunday CLOSED

        .cell-md-4.cell-sm-6.wow.fadeInUp(data-wow-delay=".3s")
          h3 Newsletter
          p Keep up with our latest  news and events.
          p Subscribe to our newsletter.

          form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='forms', method='post', action='bat/rd-mailform.php')
            .form-wrap
              label.form-label(for="inline-email-1") Enter your email here
              input#inline-email-1.form-input(type="email" name="email" data-constraints="@Email @Required")
            .form-button.text-right
              button(type="submit").button.button-primary-sec.button-no-outline Subscribe
                include ../elements/_arrow-right

  .footer-panel
    .shell
      .range.range-10
        .cell-xs-8
          p=config.brandName
            =' '
            | &#169; #[span(id="copyright-year")].
            =' '
            a(href="privacy-policy.html") Privacy Policy

        .cell-xs-4.text-xs-right
          +widget-list([
            {
              "icon": "fa fa-facebook",
              "href": "#"
            },
            {
              "icon": "fa fa-google-plus",
              "href": "#"
            },
            {
              "icon": "fa fa-linkedin",
              "href": "#"

            },
            {
              "icon": "fa fa-twitter",
              "href": "#"
            }
          ], 'text-primary', '')