header.page-header.header-classic
	// RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fullwidth', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-fullwidth', data-lg-device-layout="rd-navbar-fullwidth",  data-md-stick-up-offset="73px", data-lg-stick-up-offset="93px" data-stick-up='true' data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true')
			.rd-navbar-collapse-toggle(data-rd-navbar-toggle='.rd-navbar-collapse'): span

			.rd-navbar-aside-outer
				.rd-navbar-panel
					// RD Navbar Toggle
					button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
						span
					// RD Navbar Brand
					.rd-navbar-brand
						a.brand-name(href='index.html')
							+png(config.logoDefault, "desktop-element")
							+png(config.logoGray2, "mobile-element")

				.rd-navbar-aside.rd-navbar-collapse
					address.contact-info
						ul.list-address
							li
								.unit.unit-middle.unit-spacing-icon.unit-horizontal
									.unit__left
										span.icon.icon-md.icon-primary-dark.fa-phone
									.unit__body.list-tel
										.p.tel
											a(href='tel:#') 1 (800) 123 1234
										.p.tel
											a(href='tel:#') 1 (800) 123 1235

							li
								.unit.unit-middle.unit-spacing-icon.unit-horizontal
									.unit__left
										span.icon.icon-md.icon-primary-dark.fa-home
									.unit__body
										a.text-middle.address(href='contacts.html') 227 Marion Street,
											br
											| Columbia, SC 29201

							li
								.unit.unit-middle.unit-spacing-icon.unit-horizontal
									.unit__left
										span.icon.icon-md.icon-primary-dark.fa-clock-o
									.unit__body
										.p Mon - Sat 8.00 - 18.00
										.p Sunday CLOSED

						+widget-list([
							{
								"icon": "fa fa-facebook",
								"href": "#"
							},
							{
								"icon": "fa fa-google-plus",
								"href": "#"
							},
							{
								"icon": "fa fa-linkedin",
								"href": "#"

							},
							{
								"icon": "fa fa-twitter",
								"href": "#"
							}
						], 'text-white', 'mobile-element')

			.rd-navbar-inner
				// RD Navbar Panel

				.rd-navbar-aside-wrap

					.rd-navbar-nav-wrap
						+nav()

					+widget-list([
						{
							"icon": "fa fa-facebook",
							"href": "#"
						},
						{
							"icon": "fa fa-google-plus",
							"href": "#"
						},
						{
							"icon": "fa fa-linkedin",
							"href": "#"

						},
						{
							"icon": "fa fa-twitter",
							"href": "#"
						}
					], 'text-white', 'desktop-element')

