section
  .section-partners.bg-white
    // Owl Carousel
    .owl-carousel.partners-carousel(data-items='2', data-xs-items="3", data-sm-items="4", data-md-items="5", data-lg-items="6", data-xlg-items="9", data-xl-items="11", data-stage-padding='15', data-loop='true', data-margin='30', data-mouse-drag="true", data-nav='true', data-dots='true', data-autoplay='true')
      .owl-item: a(href="#"): +jpg('partners-1-146x69')
      .owl-item: a(href="#"): +jpg('partners-2-131x70')
      .owl-item: a(href="#"): +jpg('partners-3-163x68')
      .owl-item: a(href="#"): +jpg('partners-4-145x80')
      .owl-item: a(href="#"): +jpg('partners-5-123x78')
      .owl-item: a(href="#"): +jpg('partners-6-124x90')
      .owl-item: a(href="#"): +jpg('partners-7-134x77')
      .owl-item: a(href="#"): +jpg('partners-8-101x77')
      .owl-item: a(href="#"): +jpg('partners-9-129x54')
      .owl-item: a(href="#"): +jpg('partners-10-157x76')
      .owl-item: a(href="#"): +jpg('partners-11-137x72')
='\n'