.owl-carousel.owl-modern.owl-nav-default(data-items='1', data-sm-items="1", data-lg-items="2" data-stage-padding='0', data-loop='true', data-margin='20', data-dots='true', data-nav='true', data-autoplay='true')
	.owl-item
		+blockquote-1(
		{
			classWrap: 'quote-modern quote-inset-typography bg-quote-1 box-outline',
			classContent: 'big',
			content: 'I really love Real Grass. My yard has never looked so good! I don’t have to mess with it at all, except to plant flowers and do my gardening (which I love), this company keeps it looking perfect.',
			autorName: 'Alicia Hagen',
			statusAutor: '(housewife)'
		}
		)

	.owl-item
		+blockquote-1(
		{
			classWrap: 'quote-modern quote-inset-typography bg-quote-2 box-outline',
			classContent: 'big',
			content: 'Our lawn has never looked better with the Spring aeration and weed and feed services. Next door neighbor walked over and asked who we used because our lawn always looks so good. I was happy to refer them.',
			autorName: 'Andrew Wagstaff',
			statusAutor: '(manager)'
		}
		)
	.owl-item
		+blockquote-1(
		{
			classWrap: 'quote-modern quote-inset-typography bg-quote-1 box-outline',
			classContent: 'big',
			content: 'I really love Real Grass. My yard has never looked so good! I don’t have to mess with it at all, except to plant flowers and do my gardening (which I love), this company keeps it looking perfect.',
			autorName: 'Alicia Hagen',
			statusAutor: '(housewife)'
		}
		)

	.owl-item
		+blockquote-1(
		{
			classWrap: 'quote-modern quote-inset-typography bg-quote-2 box-outline',
			classContent: 'big',
			content: 'Our lawn has never looked better with the Spring aeration and weed and feed services. Next door neighbor walked over and asked who we used because our lawn always looks so good. I was happy to refer them.',
			autorName: 'Andrew Wagstaff',
			statusAutor: '(manager)'
		}
		)