.cell-md-6
  h6.question.text-bold Where can I find a list of prices?
  p.answer You can find the price list of the services we provide here on our website on the prices page. If the service you desire is not listed, call us or get a free quote by submitting your postcode and desired work via our booking form. You’ll get a free quote and the answers to any other queries you may have about pricing or the services.

  h6.question.text-bold How can I schedule an appointment?
  p.answer Setting up an appointment with us is simple. You can call us, submit an online request, enter our online chat facility, or use our App, which lets you book your whole service in just 4 clicks. If you have an account with us, you can even text us to secure an appointment.

.cell-md-6
  h6.question.text-bold How can I get a quote?
  p.answer We usually give final and fixed quotes over the phone. If you require something specific, however, we would prefer to organize a survey appointment for you.

  h6.question.text-bold How often should I get my lawn mowed?
  p.answer Simply put, as often as possible! The more often a lawn is mowed, the less thatch build-up it will have and the better it will look. For a professional presentation, weekly or fortnightly cuts in summer and 3-4 weekly in winter keeps your lawn in order. This all depends of course, on how much water and fertilizer it is receiving and where you live.